<app-nav></app-nav>
<div class="article-container" *ngIf="article; else loading">
  <h1 class="article-title"> <input type="text" class="article-title-input" [(ngModel)]="updatedTitle"></h1>
  <div class="article-content">
    <textarea class="article-content-textarea" [(ngModel)]="updatedContent">{{ article.content }}</textarea>
  </div>
  <h3 class="author-info">Auteur : <br>{{ article.author!.email }}</h3>

  <div class="comments-section" *ngIf="article.comments!.length > 0; else noComments">
    <h4>Commentaires :</h4>
    <ul class="comments-list">
      <li *ngFor="let comment of article.comments">
        {{ comment?.content }} - {{ comment?.author?.email }}
      </li>
    </ul>
  </div>
  <ng-template #noComments>
    <p class="no-comments">Pas de commentaire</p>
  </ng-template>

  <div class="likes-section">
    <h4>Likes: {{ article.likes?.length }}</h4>
  </div>

  <div class="add-comment-section">
    <button class="add-comment-button" (click)="save()">Sauvegardé modifications</button>
  </div>
</div>

<ng-template #loading>
  <div class="loading-section">
    <p>Loading...</p>
  </div>
</ng-template>
